
html, body {
  height: 100vh;
  margin:0;
  background-color:#EEEDED;

}
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.company {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  font-weight: 800;
  gap: 2px;
}

#compass {
  height: 40px;
  width: 40px;
  align-self: center;
}

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  font-family: "Inter", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  background-color: white;
  width:1005
}

.middle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.middle ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 120px;
  font-size: 20px;
  font-weight: 200;
}

.right button {
  height: 50px;
  width: 142px;
  font-size: 18px;
  font-weight: 600;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
}
.Text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
}

.words{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Inter", sans-serif;
}

.Text p{
font-size: 20px;
opacity: 50%;

}

.Text h1{
  font-size: 58px;
  margin: 0; 
  font-weight: 800;
}

.Text button{
  height: 50px;
  width: 195px;
  font-size: 18px;
  font-weight: 600;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  margin-bottom: 30px;
}

.eff{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#below{
  margin-bottom: 30px;
}

.dashboardimg img{
  width:1000px;
}

#below span {
  background: linear-gradient(
    90deg,
    #e319ab 27%,
    #2a19ea 41%,
    #8719ca 52%,
    #e319ab 61%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 8s linear infinite;
  background-size: 300% 100%;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

button:hover{
  background-color: rgb(61, 58, 58);
  zoom: 105%;
  cursor: pointer;
}

.middle ul .nav-item {
  cursor: pointer;
}

.middle ul .nav-item:hover {
  cursor: pointer;
}


.Page {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1; 
  background: black; 
  overflow: hidden; 
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.rightpart{
  flex: 1; 
  background: #f5f5f5; 
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color:#FFFFFF;
}


.right-log {
  background-color:white;
  height:fit-content;
  width:500px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  border:solid 1px black;

}


.rightpart .company, welcome{
  font-family: "Inter", sans-serif;
  text-align: center; 
  width: 100%; 

}

.welcome p{
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-top: 0px;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: center; 
}

.form-group input {
  width: 450px;
  height: 42px;
  padding-left: 10px;
  border-radius: 4px;
  border:1px solid black;
}

form button {
  margin-top: 20px;
  height: 42px;
  width: 450px;
  padding: 0;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 200;
  font-family: "Inter", sans-serif;


}

form .secondary-button {
  
  background-color: white; 
  color: black;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  border-radius: 4px;;

}

form .secondary-button:hover {
  background-color: darkgrey; 
}

form .google-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  margin-top: 0px;
}

.separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 450px;
}

.separator .line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.separator span {
  margin: 0 10px;
  font-size: 20px;
  color: #999;
}

.signin {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.signin a {
  color: #007bff;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}

.border-container {
  padding: 10px; 
  background-color: #ccc; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.Page3 {
  height: 100vh;
}

.cont-team {
  background-color: white;
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23000000' fill-opacity='0.03' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}

.yellow-surr {
  background-color: #FECC6A;
  padding: 20px;
  border-radius: 100px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
}

.Meethead {
  font-size: 36px;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 50px;
  padding: 20px;
  width: max-content;
}

.bunch-container {
  position: absolute;
  right: -260px; 
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.bunch {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  margin-left: 10px;
  white-space: nowrap;
  font-size:20px;
}

#placement {
  margin-right: 10px;
  transform: rotate(19deg); 
}

.cards-container {
  margin-top: 60px; 
  width: 100%; 
  display: flex;
  gap:65px;
  flex-direction: row;
  justify-content: center;
}

.nameCards{
  height: 246px;
  width:266px;
  background-color:white;
  border: 2px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  border-radius: 15px;
  margin-bottom: 10px;
}

.nameCards img{
  height: 100%;
  width: 100%;
  object-fit: cover; /* Make sure the image covers the entire div */

  
}

.nameText{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:white;
  border: 2px solid #FECC6A;
  height:60px;
  border-radius: 15px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.description-text {
  margin-top: 80px;
  font-family: "Inter", sans-serif;
  font-size:22px;
  line-height: 1.5;
  width: 70%;
  text-align: center;
  opacity: 40%;
}

.header-dash{
  display:flex;
  flex-direction:column;
}

.section1{
  font-family: "Inter", sans-serif;
  font-weight:800;
  font-size:48px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
